* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
main{
    margin-bottom: 10px;
   
}

.popular,
.released,
.trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;


}

.film {
  
    font-size: 24px;
}

header,
footer {
    padding: 30px;
    text-align: center;
    background-color: antiquewhite;
}