* {
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

article {
    padding: 20px;
}

.box {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}



.feature {
    text-align: center;
    padding: 50px;
    font-size: 32px;
    border: 2px solid black;


}

.letter {

    text-align: center;
    padding: 50px;
    font-size: 32px;
    border: 2px solid black;


}

.article {
    padding: 50px;

    border: 2px solid black;
    text-align: center;
}